%table{:class => 'col12'}
  - questions.each do |question|
    %tr{:class => 'question-row'}
      %td{:class => 'question-text col10 text-left'}= link_to question.question, question
      %td{:class => 'col2 question-actions'}
        = link_to 'Edit', edit_question_path(question), :class => "action-link" if can? :edit, question
        = link_to 'Destroy', question, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => "action-link" if can? :destroy, question