- set_headline "Questions from the Community"

%p
  &nbsp;&nbsp;&nbsp;Kick in here with your questions, answer to help others, or just surf the wisdom of others.<br>
  &nbsp;&nbsp;&nbsp;Please stay focused on trans issues - medical, legal, social, political.<br>
  &nbsp;&nbsp;&nbsp;Keep it clean and don't get mean.  Let's care for each other.

= render :partial => "list", locals: { questions: @questions }

%br

= link_to 'New Question', new_question_path
