<% set_headline "Chat: #{@category.name}" %>
<div class="content-row">
  <div class="col2">
    &nbsp;
  </div>
  <div class="col8 div.flex-video">
    <iframe src="//www.youtube.com/embed/1u5O0VWd_iU?list=UUcCBwVkB-q3ThmHYhGGRFiQ" frameborder="0" allowfullscreen class="youtube-media" style="height:400px"></iframe>
  </div>
  <div class="col2">
    &nbsp;
  </div>
</div>
<div class="container">
  <div class="messages-wrapper">
    <ul class="messages"></ul>
  </div>
  <div class="input">
      <h3 class="chatName"><%= current_user.login %></h3>
      <input type="hidden" value='category_<%= @category.id %>' class="chatCategory" name="chatCategory"/>
      <input type="text" class="chatText" placeholder="Type a message!" />
    </div>
</div>
