<% set_headline "Chat: #{@category.name}" %>
<div class="content-row chat-video">
  <div class="col2">
    &nbsp;
  </div>
  <div class="col8 flex-video buffer-bottom50">
    <iframe src="//www.youtube.com/embed/1u5O0VWd_iU?list=UUcCBwVkB-q3ThmHYhGGRFiQ" frameborder="0" allowfullscreen class="youtube-media" style="height:400px"></iframe>
  </div>
  <div class="col2">
    &nbsp;
  </div>
</div>
<div class="container">
  <div class="content-row">
    <div class="col1">
      &nbsp;
    </div>
    <div class="col10buffer-bottom50">
	  <div class="messages-wrapper">
        <table class="messages">
          <tr>
            <th>User</th>
            <th>Message</th>
          </tr>
        </table>
	  </div>
    </div>
    <div class="col1">
      &nbsp;
    </div>
  </div>
  <div class="col2">&nbsp;</div>  
  <div class="input col8">
    <h3 class="chat-instruction"><%= current_user.login %>, enter your message below:</h3>
    <input type="hidden" value='category_<%= @category.id %>' class="chatCategory" name="chatCategory"/>
	<input type="hidden" value='<%= current_user.login %>' class="chatName" name="chatName"/>
    <input type="text" class="chatText" placeholder="Type a message!" />
  </div>
  <div class="col2">&nbsp;</div> 
</div>
