body.chats .chat-video .flex-video {
  padding-bottom: 0px;
  min-height: 400px;
}

.messages-wrapper table, .messages-wrapper tr, .messages-wrapper td, .messages-wrapper th {
	color: #777777 !important;
}

.messages-wrapper table, .messages-wrapper tr, .messages-wrapper td {
	text-align: left;
}

.messages-wrapper th {
	text-align: center;
}