form {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

input[type='submit'] {
  @extend .button;
  float: right;
  background-color: #777EA9;
}

input[type='submit']:hover {
	background-color: #061362;
}

.actions {
	margin-top: 4em;
}
.actions a {
  @extend .button;
  background-color: #ffffff;
  color: #061362;
  float: left;
}

.actions a:hover {
  background-color: #61699B;
}

.form_section {
  clear: both;
  margin-top: 1em;
  border: 1px solid #aaaaaa;
  background: #e9e9f0;
  padding: 0 0 1em 0;
  h3 {
    margin-top: 0.25em;
    padding-left: 1em;
    border-bottom: 1px solid #aaaaaa;
  }
}

.form_section:after {
  @include clearfix;
}

.field {
  @include grid-row;
  label {
    @include grid-column(2);
    text-align: right;
    position: relative;
    top: 0px;
	color: #444444;
	font-size: 1.3em;
  }
  textarea, select, #{$all_input_types} {
    @include grid-column(7);
  }
  .comment {
    @include grid-column(3);
    font-style: italic;
  }
}

.required label {
  font-weight: bold;
}

.error_explanation, .errorExplanation, #error_explanation, #errorExplanation {
  @include alert;
  @include radius($alert-radius);
  @include alert-style($alert-color);

  background-color: #FFF79A;
  
  border: 1px solid #F26C4F;
  padding: 10px 5px;
  margin-bottom: 4em;
  text-align: center;

  ul {
    list-style-position: inside;
	list-style: none;
  }
  a.close {
    @include alert-close;
  }
  h5 {
    font-family: $body_font_family;
	color: #F26C4F;
	margin-bottom: 1em;
  }
}

.error_explanation, .errorExplanation, #error_explanation, #errorExplanation {
  ul {
    list-style-position: inside;
  }
  a.close {
    @include alert-close;
  }
  h2 {
    font-family: $body_font_family;
    color: $alert_font_color;
  }
}

.field_with_errors, .fieldWithErrors {
  display: inline;
  label {
    color: red;
  }
  input, textarea {
    background-color: $error_background;
  }
}

.tab.selected {
  font-weight: bold;
  a {
    cursor: default;
    color: inherit;
  }
}

