#content {
  @include grid-row;
}

#footer {
  @include grid-row;
  margin-top: 5px;
  padding: 10px 5px;
  border: 1px solid #444444;
  -webkit-border-radius: 5px;
  -moz-border-radius: 10px;
  border-radius: 5px;
  p {
    font-size: 75%;
    text-align: center;
    margin-bottom: 0.5rem;
  }
  background-color: #efefef;
}

h1.headline {
	color: #efefef;
	text-shadow: 2px 0 0 #555, -2px 0 0 #555, 0 2px 0 #555, 0 -2px 0 #555, 1px 1px #555, -1px -1px 0 #555, 1px -1px 0 #555, -1px 1px 0 #555;
	margin: 15px auto 30px;
}

body {
	background-color: #777;
	background-image: url(image-path('bg.gif'));
	background-repeat:repeat;
}

h1, h2, h3, h4, h5 {
	color: #444444;
}

#content_body {
	@include grid-row;

	margin: 20px 0px;
	padding: 50px 15px;
	border: 1px solid #444444;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;

	color: #444444;
	background-color: #efefef;

	/*
	.question-row:hover .question-text {
		font-weight: 700 !important;
		color: #000 !important;
	}
		*/
	
	.action-link:hover {
		text-decoration: underline;
	}

	.field label {
		@include grid-column(2);
	}
	.field textarea {
		@include grid-column(10);
		height: 200px;
	}

	.flash-notice {
		background-color: #FFF79A;
		color: #F26C4F;
		border: 1px solid #F26C4F;
		padding: 10px 5px;
		margin-bottom: 15px;
		text-align: center;
		@include grid-column(12);
	}
	.flash-error {
		background-color: #FFF79A;
		color: #F26C4F;
		border: 1px solid #F26C4F;
		padding: 10px 5px;
		margin-bottom: 15px;
		text-align: center;
		@include grid-column(12);
	}
	.flash-alert {
		background-color: #ff7777;
		color: #9E0B0F;
		border: 1px solid #9E0B0F;
		padding: 10px 5px;
		margin-bottom: 15px;
		text-align: center;
		@include grid-column(12);
	}
}

body.questions {
	table tr:nth-child(odd):hover{
		background-color: #efefef !important;
	}
	table tr:nth-child(even):hover{
		background-color: #eeeeee !important;
	}


.content-row {

  @include grid-row;
  text-align: center;
  color: #071672;

  h1.header {
	  margin: 0px auto 10px;
  }

  h3.tagline {
	  margin: 0px auto 40px;
	  /*color: #071672;*/
	  color: #444444;
  }

  iframe.youtube-media {
	  width: 100%;
  }

}

.col1 {
	@include grid-column(1);
}
.col2 {
	@include grid-column(2);
}
.col3 {
	@include grid-column(3);
}
.col4 {
	@include grid-column(4);
}
.col5 {
	@include grid-column(5);
}
.col6 {
	@include grid-column(6);
}
.col7 {
	@include grid-column(7);
}
.col8 {
	@include grid-column(8);
}
.col9 {
	@include grid-column(9);
}
.col10 {
	@include grid-column(10);
}
.col11 {
	@include grid-column(11);
}
.col12 {
	@include grid-column(12);
}

.text-right {
	text-align:right !important;
}
.text-left {
	text-align:left !important;
}
.text-center {
	text-align:left !important;
}

.buffer-top50 {
	margin-top: 50px;
}
.buffer-top75 {
	margin-top: 75px;
}
.buffer-top100 {
	margin-top: 100px;
}
.buffer-bottom50 {
	margin-bottom: 50px;
}
.buffer-bottom75 {
	margin-bottom: 75px;
}
.buffer-bottom100 {
	margin-bottom: 100px;
}