#content {
  @include grid-row;
}

.content-row h1 { color: #071672; }


.content-row {
  @include grid-row;
}
.col1 {
	@include grid-column(1);
}
.col2 {
	@include grid-column(2);
}
.col3 {
	@include grid-column(3);
}
.col4 {
	@include grid-column(4);
}
.col5 {
	@include grid-column(5);
}
.col6 {
	@include grid-column(6);
}
.col7 {
	@include grid-column(7);
}
.col8 {
	@include grid-column(8);
}
.col9 {
	@include grid-column(9);
}
.col10 {
	@include grid-column(10);
}
.col11 {
	@include grid-column(11);
}
.col12 {
	@include grid-column(12);
}

iframe.youtube-media {
	width: 100%;
}
div.youtube-media {
	height: 20%;
}